<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Please Active Your Registed Acount</title>
	</head>
	<body>
	
		<p>
		    Hello, <span th:text="${userName}"> XXXXX </span>!
		</p>
		<p>
		    You have been successfully Registed to the <b>Ledger Acount Center</b> on
		    <span th:text="${registDate}">2022-07-01</span>
		</p>
		<p>Please Active Your Acount By Clict Link Below:-</p>
		<ul>
		    <li>Your Identifier : <p th:text="${identifier}">XXXXX</p></li>
		    <li>Active Code <p th:text="${activeCode}">XXXXX</p></li>
		    <li>Url : <b th:text="${url}">XXXXXX</b></li>
		</ul>
		<p>
		    Regards, <br/>
		    <em>The [ERON VISUAL STUDIO] Team</em>
		</p>
	
	</body>
</html>




